<div class="container-fluid">
  <div class="row footer-one">
    <div class="  section-1" >
      <h1>Shop-dz</h1>
      <p>Dumy info for this part you can work us you want</p>
    </div>

    <div class="  section-2" >
      <h4>Policy Info</h4>
      <ul>
        <li>policy kjdskfj</li>
        <li>policy kjdskfj</li>
        <li>policy kjdskfj</li>
        <li>policy kjdskfj</li>
      </ul>
    </div>

    <div class="  section-3"  >
      <h4>Company</h4>
      <ul>
        <li>Company kjdskfj</li>
        <li>Company kjdskfj</li>
        <li>Company kjdskfj</li>
        <li>Company kjdskfj</li>
      </ul>
    </div>

    <div class="  section-4"  >
      <h4>Business Info</h4>
      <ul>
        <li>Business kjdskfj</li>
        <li>Business kjdskfj</li>
        <li>Business kjdskfj</li>
        <li>Business kjdskfj</li>
      </ul>
    </div>

    <div class="  section-5" >
         <input type="text" placeholder="Your email Address">
         <button>Subscribe</button>
    </div>

  </div>

  <div class="row">
    <div class="col footer-two">
      <span>Copyrights 2019, All Rights Reserved 2019</span>
    </div>
  </div>
</div>
