.footer-one {
 height: 170px;
  background: white;
  margin-top: 10px;
}


.footer-two {
  height: 50px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
