<div class="row main-card-item-product">
    <div class="col-8">
            <mat-card class="card-item-product cur">

                <div class="section-one-product">
                        <div class="image-product"></div>
                        <div class="info-product">
                           <span class="title-product">Title Product</span>
                           <div class="new-item">
                                <mat-chip-list aria-label="Fish selection">
                                        <mat-chip color="primary" selected>new</mat-chip>
                                      </mat-chip-list>
                           </div>
                           <div class="desc-item">
                               <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                           </div>
                        </div>
                </div>
               
                <div class="section-two-product">
                    <div class="price">1200 $</div>
                     
                    <div class="rating">
                            <div> 
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                            </div>
                    </div>
                    <div class="nbr-seller"></div>
                </div>

            </mat-card>
    </div>
</div>