<div class="container-fluid">
        <app-nav-bar></app-nav-bar>

        <div class="row" style="height:700px;">
            <div class="col">
                <div class="image-product">
                    <img src="../../assets/aspire.png" alt="">
                    <div class="list-image-product">
                             <img class="image-product-item-details" width="70" src="../../assets/aspire.png" alt="">
                             <img class="image-product-item-details" width="70" src="../../assets/aspire.png" alt="">
                             <img class="image-product-item-details" width="70" src="../../assets/aspire.png" alt="">
                             <img class="image-product-item-details" width="70" src="../../assets/aspire.png" alt="">
                              
                    </div>
                </div>
            </div>

         
            <div class="col col-details">
                <div class="details-item">
                    <h1 class="title-product">Acer R3</h1>
                    <p class="desc-product text">Small description about the item</p>
                    <span class="price-product">$1000</span>
                    <hr class="hr-product">
                    <p class="text all-details-product">All information about the product kkfjdkjksjfks</p>

                    <div class="btn-and-value">
                            <div class="command-value">
                                    <span class="minus" (click)="decrease()">-</span>
                                    <span class="value" #quntity>{{quntityValue}}</span>
                                    <span class="plus" (click)="increase()">+</span>
                                </div> 
            
                                <button class="btn-add-to-bag" (click)="addToBag()">ADD TO BAG</button>  
                                          
                    </div>
                 
                </div>
            </div>
        </div>
</div>
