<div class="container-fluid content-home bg-color-gray">
    <div class="row">
        <div class="col-12">
                <mat-toolbar>
                        <mat-toolbar-row class="content-menu-header">
                              
                             <span class="name-menu">Shopio</span>
                             <i class="material-icons icon-menu" mat-button [matMenuTriggerFor]="menu" >menu</i>
                             <div class="input-container">
                                    <i class="material-icons icon">search</i>
                                    <input class="search" placeholder="Search products & brands" />
                             </div>
                          
                             <span class="download-menu">Download App</span>
                             <span class="auth-menu">Sign Up / Sign In</span>
                        
                        </mat-toolbar-row>    
                </mat-toolbar>
        </div>
    </div>

    <div>
        <div class="scroll-product-item">
            <div class="title-navigation-btn-product-item">
                <span>Popular Products</span>

                <div class="btn-navigation-item-product">
                        <button mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="scrollLeft()">
                                <i class="material-icons">keyboard_arrow_left</i>
                       </button>
       
                       <button mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="scrollRight()">
                               <i class="material-icons">keyboard_arrow_right</i>
                       </button>
                </div>
              
            </div>

        <div class="items-product" #elemToScroll>
                <mat-card class="card-item-product">
                    <div class="body-card">
                        <img src="../../assets/aspire.png" alt="mac" width = "100%">
                        <span>Acer Aspire R3</span>
                        <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                    </div>

                    <div class="price-ratting">
                        <div> 
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                        </div>
                        <span>8000 $</span>
                    </div>
                   
                </mat-card>

                <mat-card class="card-item-product">
                        <div class="body-card">
                            <img src="../../assets/aspire.png" alt="mac" width = "100%">
                            <span>Acer Aspire R3</span>
                            <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                        </div>
    
                        <div class="price-ratting">
                            <div> 
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                            </div>
                            <span>8000 $</span>
                        </div>
                       
                    </mat-card>

                    
                    <mat-card class="card-item-product">
                            <div class="body-card">
                                <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                <span>Acer Aspire R3</span>
                                <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                            </div>
        
                            <div class="price-ratting">
                                <div> 
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                </div>
                                <span>8000 $</span>
                            </div>
                           
                        </mat-card>

                        

                        <mat-card class="card-item-product">
                                <div class="body-card">
                                    <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                    <span>Acer Aspire R3</span>
                                    <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                </div>
            
                                <div class="price-ratting">
                                    <div> 
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                    </div>
                                    <span>8000 $</span>
                                </div>
                               
                            </mat-card>

                            
                            <mat-card class="card-item-product">
                                    <div class="body-card">
                                        <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                        <span>Acer Aspire R3</span>
                                        <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                    </div>
                
                                    <div class="price-ratting">
                                        <div> 
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                        </div>
                                        <span>8000 $</span>
                                    </div>
                                   
                                </mat-card>
                
                <mat-card class="card-item-product">
                        <div class="body-card">
                            <img src="../../assets/aspire.png" alt="mac" width = "100%">
                            <span>Acer Aspire R3</span>
                            <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                        </div>
    
                        <div class="price-ratting">
                            <div> 
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                            </div>
                            <span>8000 $</span>
                        </div>
                       
                    </mat-card>

                    <mat-card class="card-item-product">
                            <div class="body-card">
                                <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                <span>Acer Aspire R3</span>
                                <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                            </div>
        
                            <div class="price-ratting">
                                <div> 
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                </div>
                                <span>8000 $</span>
                            </div>
                           
                        </mat-card>

                        <mat-card class="card-item-product">
                                <div class="body-card">
                                    <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                    <span>Acer Aspire R3</span>
                                    <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                </div>
            
                                <div class="price-ratting">
                                    <div> 
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                    </div>
                                    <span>8000 $</span>
                                </div>
                               
                            </mat-card>


                            <mat-card class="card-item-product">
                                    <div class="body-card">
                                        <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                        <span>Acer Aspire R3</span>
                                        <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                    </div>
                
                                    <div class="price-ratting">
                                        <div> 
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                        </div>
                                        <span>8000 $</span>
                                    </div>
                                   
                                </mat-card>


                                
                            <mat-card class="card-item-product">
                                    <div class="body-card">
                                        <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                        <span>Acer Aspire R3</span>
                                        <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                    </div>
                
                                    <div class="price-ratting">
                                        <div> 
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                        </div>
                                        <span>8000 $</span>
                                    </div>
                                   
                                </mat-card>


                            <mat-card class="card-item-product">
                                    <div class="body-card">
                                        <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                        <span>Acer Aspire R3</span>
                                        <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                    </div>
                
                                    <div class="price-ratting">
                                        <div> 
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                        </div>
                                        <span>8000 $</span>
                                    </div>
                                   
                                </mat-card>


                            <mat-card class="card-item-product">
                                    <div class="body-card">
                                        <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                        <span>Acer Aspire R3</span>
                                        <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                    </div>
                
                                    <div class="price-ratting">
                                        <div> 
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                        </div>
                                        <span>8000 $</span>
                                    </div>
                                   
                                </mat-card>

            
        </div>


        
        </div>
    </div>

    <div>
            <div class="scroll-product-item">
                <div class="title-navigation-btn-product-item">
                    <span>Featured Products</span>
    
                    <div class="btn-navigation-item-product">
                            <button mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="scrollLeft()">
                                    <i class="material-icons">keyboard_arrow_left</i>
                           </button>
           
                           <button mat-mini-fab aria-label="Example icon-button with a heart icon" (click)="scrollRight()">
                                   <i class="material-icons">keyboard_arrow_right</i>
                           </button>
                    </div>
                  
                </div>
    
            <div class="items-product" #elemToScroll>
                    <mat-card class="card-item-product">
                        <div class="body-card">
                            <img src="../../assets/aspire.png" alt="mac" width = "100%">
                            <span>Acer Aspire R3</span>
                            <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                        </div>
    
                        <div class="price-ratting">
                            <div> 
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                            </div>
                            <span>8000 $</span>
                        </div>
                       
                    </mat-card>
    
                    <mat-card class="card-item-product">
                            <div class="body-card">
                                <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                <span>Acer Aspire R3</span>
                                <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                            </div>
        
                            <div class="price-ratting">
                                <div> 
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                </div>
                                <span>8000 $</span>
                            </div>
                           
                        </mat-card>
    
                        
                        <mat-card class="card-item-product">
                                <div class="body-card">
                                    <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                    <span>Acer Aspire R3</span>
                                    <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                </div>
            
                                <div class="price-ratting">
                                    <div> 
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                    </div>
                                    <span>8000 $</span>
                                </div>
                               
                            </mat-card>
    
                            
    
                            <mat-card class="card-item-product">
                                    <div class="body-card">
                                        <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                        <span>Acer Aspire R3</span>
                                        <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                    </div>
                
                                    <div class="price-ratting">
                                        <div> 
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                        </div>
                                        <span>8000 $</span>
                                    </div>
                                   
                                </mat-card>
    
                                
                                <mat-card class="card-item-product">
                                        <div class="body-card">
                                            <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                            <span>Acer Aspire R3</span>
                                            <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                        </div>
                    
                                        <div class="price-ratting">
                                            <div> 
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                            </div>
                                            <span>8000 $</span>
                                        </div>
                                       
                                    </mat-card>
                    
                    <mat-card class="card-item-product">
                            <div class="body-card">
                                <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                <span>Acer Aspire R3</span>
                                <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                            </div>
        
                            <div class="price-ratting">
                                <div> 
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                </div>
                                <span>8000 $</span>
                            </div>
                           
                        </mat-card>
    
                        <mat-card class="card-item-product">
                                <div class="body-card">
                                    <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                    <span>Acer Aspire R3</span>
                                    <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                </div>
            
                                <div class="price-ratting">
                                    <div> 
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                    </div>
                                    <span>8000 $</span>
                                </div>
                               
                            </mat-card>
    
                            <mat-card class="card-item-product">
                                    <div class="body-card">
                                        <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                        <span>Acer Aspire R3</span>
                                        <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                    </div>
                
                                    <div class="price-ratting">
                                        <div> 
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                        </div>
                                        <span>8000 $</span>
                                    </div>
                                   
                                </mat-card>
    
    
                                <mat-card class="card-item-product">
                                        <div class="body-card">
                                            <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                            <span>Acer Aspire R3</span>
                                            <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                        </div>
                    
                                        <div class="price-ratting">
                                            <div> 
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                            </div>
                                            <span>8000 $</span>
                                        </div>
                                       
                                    </mat-card>
    
    
                                    
                                <mat-card class="card-item-product">
                                        <div class="body-card">
                                            <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                            <span>Acer Aspire R3</span>
                                            <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                        </div>
                    
                                        <div class="price-ratting">
                                            <div> 
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                            </div>
                                            <span>8000 $</span>
                                        </div>
                                       
                                    </mat-card>
    
    
                                <mat-card class="card-item-product">
                                        <div class="body-card">
                                            <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                            <span>Acer Aspire R3</span>
                                            <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                        </div>
                    
                                        <div class="price-ratting">
                                            <div> 
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                            </div>
                                            <span>8000 $</span>
                                        </div>
                                       
                                    </mat-card>
    
    
                                <mat-card class="card-item-product">
                                        <div class="body-card">
                                            <img src="../../assets/aspire.png" alt="mac" width = "100%">
                                            <span>Acer Aspire R3</span>
                                            <p>Core i5 (8 GB/128 GB SSD/OS X Retina RMF ...</p>
                                        </div>
                    
                                        <div class="price-ratting">
                                            <div> 
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                            </div>
                                            <span>8000 $</span>
                                        </div>
                                       
                                    </mat-card>
    
                
            </div>
    
    
            
            </div>
        </div>
</div>


 
<mat-menu #menu="matMenu">
  <button mat-menu-item class="item-category">
        <i class="material-icons">desktop_mac</i>
        <span>Computer & laptop</span>
  </button>

  <button mat-menu-item class="item-category">
        <i class="material-icons">desktop_mac</i>
        <span>Computer & laptop</span>
  </button>


  <button mat-menu-item class="item-category">
        <i class="material-icons">desktop_mac</i>
        <span>Computer & laptop</span>
  </button>


  <button mat-menu-item class="item-category">
        <i class="material-icons">desktop_mac</i>
        <span>Computer & laptop</span>
  </button>
</mat-menu>